$bg_color: #{"#1C1E2A"};
$bg_color_light: #{"#282839"};
$bg_color_translucent: #{"#28283977"};

$fg_color: #{"#FFFFFF"};
$fg_color_muted: #{"#FFFFFF"};

$accent: #{"#F6A0CA"};
$accent_hover: #{"#f5b5d4"};
$accent_light: #{"#6B4F68"};
